<!DOCTYPE html>
<html>
  <head>
    <title>React Server Side Rendering Example</title>
  </head>
  <body>
    <div id="react-root"><%- react %></div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script defer src="/components.js" type="text/babel"></script>
  </body>
</html>